html {
    scroll-behavior: smooth;
  }

body{
    margin: 0;
    padding: 0;
}

section{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    
}

section a{
    text-decoration: none;

}

#start{
    background-color: palevioletred;
    justify-content: center;
}

#one{
    background-color: palegoldenrod;
    justify-content: center;
}

#end{
    background-color: palegreen;
    justify-content: center;
}


img {
    position: relative;;
    right: 5em;
    top: 5em;
    animation-name: movingarrows;
    animation-duration: 1s;
    animation-delay: 2s;
    animation-iteration-count: infinite;

}

@keyframes movingarrows {
    0%{ top: 4em;
        opacity: 30%;
    }
    
    50% { top: 5em;
        opacity: 70%;
    }
    
    100% { top: 6em;
        opacity: 30%;
    }